{include file="header" /}
<link rel="stylesheet" href="__STATIC__/addons/cms/css/jquery.fullpage.min.css">
<style type="text/css">
    .main {

    }

    .bbanner img {
        width: 100%;
    }

    .bgf6 {
        background: #f6f6f6;
    }

    /*.page-padding {*/
    /*    padding: 80px 0;*/
    /*}*/
    .about{
        position: relative;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        color:#000;
    }
    .about-wrap{
        position: absolute;
        top: 50%;
        right: 5.7%;
        width: 600px;
        height: 650px;
        margin-top: -325px;
    }
    .about-wrap h3{
        font-size:40px;

    }
    .about-wrap .desc{
        font-size: 20px;
        margin-top: 50px;
    }

    .about-wrap h3,.about-wrap .desc{
        text-align: center;
    }
    .about-wrap .line{
        margin:10px auto;
    }
    .about-des-con{
        font-size: 14px;
    }
    .line {
        width: 55px;
        border-top: 1px solid #646464;
        margin-top: 16px;
    }
    .ambient{
        display: flex;
    }
    .zx-left {
        display: flex;
        width: 15%;
        height: 100%;
        flex-basis: auto;
        min-height: 600px   ;
        flex-direction: column;
        justify-content: center;
    }
    .zx-left span {
        color: #3c4850;
        border-bottom: 1px solid #3c4850;
    }
    .zx-left h3 {
        font-size: 36px;
        margin: 40% 0 20%;
        /*margin-top: 20px;*/
    }
    .zx-left p {
        line-height: 21px;
        font-size: 14px;
    }
    .zx-right{
        width:85%;
    }
    .flex-control-paging{
        text-align: center;
        margin-top: 20px;
    }
    .flex-control-paging li {
        width: 11px;
        height: 11px;
        display: block;
        background: #fff;
        cursor: pointer;
        text-indent: -9999px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -o-border-radius: 20px;
        border-radius: 20px;
        -webkit-box-shadow: inset 0 0 3px rgb(0 0 0 / 30%);
        -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
        -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 3px rgb(0 0 0 / 30%);
    }
    .flex-control-paging li {
        margin: 0 6px;
        display: inline-block;
        zoom: 1;
        *display: inline;
    }
    .flex-control-paging .on {
        background: #62727c;
    }
</style>
<div id="fullPage">
    <div class="bbanner section">
        {get sql="select * from yzn_picture where title = '关于我们+品牌介绍+学校环境-banner'" order="hits DESC" num="1" cache="600" return="banner1"}
        {volist name="banner1" id="b1v"}
        <img src="{$b1v.thumb}" alt="">
<!--        <div class="sbanner" style="background-image: url({$b1v.thumb})"><a href="#" style="height: 414px;"></a></div>-->
        {/volist}
        {/get}
    </div>
    <div id="f1 " class="bgf6 page-padding section">
        {yzn module="cms" action="lists" catid="$catid" order="listorder DESC" limit="1" return="data"}
        {php}$id =$data[0]["id"]; $dvthumb = $data[0]["thumb"];{/php}
        {get sql="select * from yzn_article_data where did=$id" num="1" return="d"}
        {volist name="d" id="dv"}
        <div class="about" style="background: url({$dvthumb}) center;">
            <div class="about-wrap">
                <h3>{$data[0]["title"]}</h3>
                <p class="desc">{$data[0]["description"]}</p>
                <div class="line"></div>
                <div class="about-des-con">
                    {php} echo htmlspecialchars_decode($dv["content"]);{/php}
                </div>
            </div>

        </div>
        {/volist}
        {/get}
        {/yzn}
    </div>
    <div id="f2" class="bgf6 section">
        {yzn module="cms" action="lists" catid="52" order="listorder DESC" limit="1" return="sdata"}
        {php}$isd =$sdata[0]["id"]; $svthumb = $sdata[0]["thumb"];{/php}
        {get sql="select * from yzn_article_data where did=$isd" num="1" return="s"}
        {volist name="s" id="sv"}
        <div class="about" style="background: url({$svthumb}) center;">
            <div class="about-wrap">
                <h3>{$sdata[0]["title"]}</h3>
                <p class="desc">{$sdata[0]["description"]}</p>
                <div class="line"></div>
                <div class="about-des-con">
                    {php} echo htmlspecialchars_decode($sv["content"]);{/php}
                </div>
            </div>

        </div>
        {/volist}
        {/get}
        {/yzn}
    </div>

    <div id="f3" class="intscroll section">
        <div class="w1200">
            <div class=" bid">
                <ul >
                    {yzn module="cms" action="lists" catid="50" order="listorder DESC" limit="4" return="data"}
                    {volist name="data" id="vo"}
                    <li>
                        <div class="ambient">
                            <div class="zx-left">
                                <div>
                                    <h3>{$vo["title"]}</h3>
                                    {php}
                                    $exp_idesc = explode(PHP_EOL,$vo["description"]);
                                    $idesc = '';
                                    foreach($exp_idesc as $idescv){
                                    $idesc.='<p>'.$idescv.'</p>';
                                    }
                                    echo $idesc;
                                    {/php}
                                </div>
                            </div>
                            <div class="zx-right">
                                <img src="{$vo["thumb"]}" alt="">
                            </div>
                        </div>
                    </li>
                    {/volist}
                    {/yzn}
                </ul>
            </div>
        </div>
        <div class="hid flex-control-paging">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
    </div>

        {get sql="select * from yzn_picture where title = '关于我们+品牌介绍+学校环境-底部'" order="hits DESC" num="2" cache="600" return="banner1"}
        {volist name="banner1" id="b1v"}
            <div class="bbanner section">
                <img src="{$b1v.thumb}" alt="">
            </div>
        {/volist}
        {/get}

    <div  class="section">
        {include file="footer" /}
    </div>

</div>


<script src="__STATIC__/addons/cms/js/jquery.fullpage.min.js"></script>
<script>
    $(document).ready(function() {
        $("#fullPage").fullpage({
            // 导航小圆点的设置x
            navigation: true,
            navigationPosition: "right",
            onLeave: function(origin, destination, direction) {
                // // 进入第一屏，顶部导航渐入
                // if (destination == 1) {
                //     $(".back").css("visibility","hidden");
                //     $(".header").animate({ top: "0px" });
                //     return;
                // }
                // if (destination != 2) {
                //     $(".back").css("visibility","visible");
                // } else {
                //     $(".back").css("visibility","hidden");
                // }
                // // 离开第一屏，顶部导航渐出
                // if (origin == 1) {
                //     $(".header").animate({ top: "-" + headerH + "px" });
                // }
                // var itemHeight = height - $("#item" + destination).height();
                // $("#item" + destination).css("padding-top", itemHeight/2);
                // startAnimate(".section:eq(" + (destination - 1) + ") .animateCon");
            }
        });
    });
</script>
<script>
    jQuery(".intscroll").slide({
        titCell: ".hid ul",
        mainCell: ".bid ul",
        effect: "left",
        autoPlay: true,
        autoPage: true,
        trigger: "click",
        startFun: function(i) {

        }
    });
</script>
