{include file="header" /}
<style type="text/css">
    .main_teacher{
        background: #fff;
    }
    .card{
        display: flex;
        flex-wrap: wrap;
        /*padding: 0.5%;*/
        /*background: #fff;*/
        /*min-height:500px;*/
    }
    .card-item{
        flex: 0 0 27%;
        padding: 1.5%;
        display: flex;
        justify-content: flex-start;
        cursor:pointer;
        margin-bottom: 24px;
        border: 1px solid #e7eaef;
        transition: all .3s;
        border-radius: 5px;
        margin-right: 2%;

    }
    .card-item:hover{
        box-shadow: 0px 0px 3px #bfc1c3;
    }
    .left{
        width: 100px;
        height: 100px;
    }
    .left img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid #eee;
    }
    .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*align-items: flex-start;*/
        padding-left:15px;
        font-size: 14px;

    }
    .top{
      font-size: 16px;
        padding-bottom: 10px;
        font-weight: 1000;
        text-align: left;
    }
    .bottom{
        text-align: left;
        color: #999999;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<div class="bbanner">
    {get sql="select * from yzn_picture where title = '名师团队-banner'" order="hits DESC" num="1" cache="600" return="banner1"}
    {volist name="banner1" id="b1v"}
    <img src="{$b1v.thumb}" alt="">
    {/volist}
    {/get}
</div>

<div class="main w1800">
    <div class="main_teacher ">
        <div class="main_teacher_title">名师团队</div>
        <div class="main_teacher_desc">每天就像生活在时尚圈里，技术、眼界、整体能力不断在提升</div>
        <div class="card w1200">
                {yzn module="cms" action="lists" catid="$catid" order="listorder DESC" limit="18" return="data"}
                {volist name="data" id="vo"}
                <div class="card-item" onClick="location.href='{$vo.url}'">
                        <div class="left"><img src="{$vo.thumb}" alt=""></div>
                        <div class="right">
                            <div class="top"><h1>{$vo.title}</h1></div>
                            <div class="bottom">
                                {php}
                                    $desc = explode(PHP_EOL,trim($vo["description"]));
                                    $desc = array_chunk($desc,2)[0];
                                    $desc1 = "";
                                    $desc2 = "";
                                    if(isset($desc[0])){
                                        $desc1  = mb_substr($desc[0],0,5);
                                    }
                                    if(isset($desc[1])){
                                        $desc2  = mb_substr($desc[1],0,15);
                                        if(mb_strlen($desc[1]) > 12){
                                            $desc2.="...";
                                        }
                                    }
                                {/php}
                                <p>{$desc1}</p>
                                <br/>
                                <p>{$desc2}</p>
                            </div>
                        </div>
                </div>
                {/volist}
                {/yzn}
        </div>
    </div>
    <div class="bbanner">
        {get sql="select * from yzn_picture where title = '名师团队-底部'" order="hits DESC" num="1" cache="600" return="banner1"}
        {volist name="banner1" id="b1v"}
        <img src="{$b1v.thumb}" alt="">
        {/volist}
        {/get}
    </div>
</div>
{include file="footer" /}